<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dojo survey</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1>this is the home page</h1>
    <form action="/users/results" method="post" class="shadow p-3 mb-5 bg-body rounded">
        <div class="mb-3">
          <label class="form-label">First Name:</label>
          <input type="text" class="form-control" name="first_name">
        </div>
        <div class="mb-3">
          <label class="form-label">Last Name:</label>
          <input type="text" class="form-control" name="last_name">
        </div>
        <div id="mb-3">
          <label class="form-label">Dojo Location:</label>
        <select class="form-select" aria-label="Default select example" name="dojo_location">
          <option selected>Choose a location</option>
          <option value="Arizona">Arizona</option>
          <option value="California">California</option>
          <option value="Chicago">Chicago</option>
          <option value="New York">New York</option>
        </select>
        </div>
        <br/>
        <div class="mb-3">
          <label class="form-label">Favorite Language: </label>
          <select class="form-select" aria-label="Default select example" name="fav_language">
            <option selected>Choose your preferred language</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C#">C#</option>
            <option value="PHP">PHP</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Comments (optional):</label>
          <textarea class="form-control" rows="3" name="comments"> </textarea> 
          
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

</body>
</html>